#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

header,
footer {
  background-color: burlywood;
}

main {
  display: grid;
  background-color: forestgreen;
}

.scores {
  margin: 3rem;
  align-self: start;
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 1.3rem;
}

.board img {
  height: 8rem;
  width: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
  padding: 2rem;
}

.card {
  background-color: aliceblue;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .5rem black;
  padding: 1.1rem;
}

.card:hover {
  background-color: aquamarine;
  box-shadow: .2rem .2rem 1rem black;

}

footer {
  display: grid;
  justify-items: center;
  gap: 2rem;
  padding: 6px;
}

#github-img {
  height: 3rem;
  width: auto;
  display: block;
}